<ion-view>
    <!-- header -->
    <ion-header-bar class="bar-calm">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        <h1 class="title">Список новостей</h1>
        <!-- New Task button-->
        <button class="button button-icon" ng-click="selectCity()"><i class="icon ion-ios-arrow-down"></i></button>
    </ion-header-bar>

    <!-- tabs -->
    <ion-tabs class="tabs-top tabs-background-calm">
        <a class="tab-item" href="#/app/feed">Новости</a>
        <a class="tab-item" href="#/app/list">Список</a>
        <a class="tab-item" href="#/app/map">Карта</a>
    </ion-tabs>

    <!-- content -->
    <ion-content style="top: 92px;">
        <ion-list>
            <ion-item class="item-thumbnail-left" ng-repeat="item in companies" href="#/app/company/view/{{ item.id }}">
                <img ng-src="http://api.zapchasti.site{{ item.cover }}">
                <h2>{{ item.name }}</h2>
                <p>{{ item.address }}<br>{{ item.work_times }}</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
