<ion-view>
    <!-- header -->
    <ion-header-bar class="bar-calm">
        <button class="button button-icon button-clear ion-ios-arrow-left" ng-click="goBack()"></button>
        <h1 class="title">Просмотр анкеты компании</h1>
    </ion-header-bar>

    <!-- content -->
    <ion-content style="top: 92px;">
        <p>
            <img class="full-image" ng-src="http://api.zapchasti.site/{{ company.cover }}">
        </p>
        <h3>{{ company.name }}</h3>
        <p>{{ company.address }}</p>
        <p>{{ company.work_times }}</p>
        <p>
            <img ng-src="http://api.zapchasti.site/{{image}}" ng-repeat="image in company.images">
        </p>
    </ion-content>
</ion-view>
