        <ion-view>
            <!-- button -->
            <button class="button button-balanced pull-right button-round" ng-click="selectCity()"><i class="icon  ion-plus-round"></i></button>

            <!-- header -->
            <ion-header-bar class="bar-calm">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
                <h1 class="title">Список новостей</h1>
                <!-- New Task button-->
                <button class="button button-icon" ng-click="selectCity()"><i class="icon ion-ios-arrow-down"></i></button>
            </ion-header-bar>

            <!-- tabs -->
            <ion-tabs class="tabs-top tabs-background-calm">
                <a class="tab-item" href="#/app/feed">Новости</a>
                <a class="tab-item" href="#/app/list">Список</a>
                <a class="tab-item" href="#/app/map">Карта</a>
            </ion-tabs>

            <!-- content -->
            <ion-content style="top: 92px;">
                <ion-list>
                    <ion-item  class="card" ng-repeat="item in post">
                        <div class="item item-avatar">
                            <img ng-src="http://api.zapchasti.site/{{item.user.avatar}}">
                            <h2>{{ item.user.name}}</h2>
                            <p>{{ item.post.create_at }}</p>
                        </div>

                        <div class="item item-body">
                            <p ng-repeat="image in item.post.images">
                                <img class="full-image" ng-src="http://api.zapchasti.site/{{image}}">
                            </p>
                            <p>
                                {{ item.post.text }}
                            </p>

                            <p>
                                <button class="button button-clear button-assertive" ng-click="newTask()">
                                    <i class="icon ion-android-favorite"></i> 0</i>
                                </button>

                                <button class="button button-clear button-positive" ng-click="newTask()">
                                    <i class="icon ion-ios-chatbubble"> 5</i>
                                </button>
                            </p>
                        </div>
                    </ion-item>
                </ion-list>
            </ion-content>
        </ion-view>

