 <ion-view view-title="Browse">
          <ion-content ng-controller="LoginCtrl">
            <form ng-submit="doLogin()">
              <div class="list">
                <label class="item item-input">
                  <span class="input-label">E-mail</span>
                  <input type="text" ng-model="model.email">
              </label>
              <label class="item item-input">
                  <span class="input-label">Пароль</span>
                  <input type="password" ng-model="model.password">
              </label>
              <label class="item">
                  <button class="button button-block button-positive" type="submit">Войти</button>
              </label>
          </div>
      </form>
  </ion-content>
</ion-view>