        <ion-view>
            <!-- button -->
            <button class="button button-balanced pull-right button-round" ng-click="selectCity()"><i class="icon ion-pinpoint"></i></button>

            <!-- header -->
            <ion-header-bar class="bar-calm">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
                <h1 class="title">Карта</h1>
                <!-- New Task button-->
                <button class="button button-icon" ng-click="selectCity()"><i class="icon ion-ios-arrow-down"></i></button>
            </ion-header-bar>

            <!-- tabs -->
            <ion-tabs class="tabs-top tabs-background-calm">
                <a class="tab-item" href="#/app/feed">Новости</a>
                <a class="tab-item" href="#/app/list">Список</a>
                <a class="tab-item" href="#/app/map">Карта</a>
            </ion-tabs>

            <!-- content -->
            <ion-content style="top: 92px;">
            	<map on-create="mapCreated(map)"></map>
            </ion-content>
        </ion-view>