<ion-side-menus enable-menu-with-back-views="false">


  <ion-side-menu-content>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>


  <ion-side-menu side="left">
    <ion-content>
      <ion-list>

        <a class="item item-icon-left" href="#"><i class="icon ion-email"></i>Тест</a>

        <ion-item menu-close href="#/feed">
          Новости
        </ion-item>
        <ion-item menu-close href="#/app/search">
          Заведения
        </ion-item>
        <ion-item menu-close href="#/app/browse">
          Карта
        </ion-item>
        <ion-item menu-close href="#/app/playlists">
          Выход
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
