<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <!-- build:css dist_css/styles.css -->
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- endbuild -->
     
     <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRsXQp_cE_Fb3vdjkpqR9obqTAvRoN0_c&amp;sensor=true&amp;language=ru"></script>
    
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="cordova.js"></script>

    <!-- build:js dist_js/app.js -->
    <script src="js/templates.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <!-- endbuild -->

    <style>
    .button-round {
      top: auto;
      right: 16px;
      bottom: 16px;
      left: auto;
      position: absolute;
      z-index: 9999;
      width: 56px;
      height: 56px;
      max-height: initial;
      max-width: initial;
          white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    outline: 0;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    border-radius:50%;
    }
    </style>
  </head>

  <body ng-app="starter">
    <ion-nav-view></ion-nav-view>


<script id="new-task.html" type="text/ng-template">

  <div class="modal">
    <!-- Modal content area -->
    <ion-content>
        <ion-list>
          <ion-radio ng-model="city" ng-value="" ng-click="taskModal.hide()">Все</ion-radio>
          <ion-radio ng-model="city" ng-value="'A'" ng-click="taskModal.hide()">Москва</ion-radio>
          <ion-radio ng-model="city" ng-value="'B'" ng-click="taskModal.hide()">Новосибирск</ion-radio>
        </ion-list>
    </ion-content>

  </div>

</script>


  </body>
</html>
